#game-board-container {            
    display: grid;     
    grid-template-rows: repeat(10, var(--square-width-default));
    grid-template-columns: repeat(10, var(--square-heigth-default));    
    border: var(--board-boarder-size-default) solid rgb(168, 156, 26);  
}

#waiting-for-player-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#waiting-for-player-modal p {
    font-size: 1.1rem;
}

#waiting-for-player-modal button {
    background-color: var(--color-background-button-secondary);
    width: 80%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: var(--size-button-boarder-radius);
    font-size: 1.2rem;
    color: var(--color-button-text);
    font-weight: 600;    
    transition: background-color 0.5s;  
    margin-top: 1.0rem;  
}

#waiting-for-player-modal button:hover {
    background-color: var(--color-background-button-secondary-hover);   
}

.disabled {
    opacity: 30%;    
}

@media (max-height: 800px) {
    #game-board-container {                
        display: grid;     
        grid-template-rows: repeat(10, var(--square-width-middle));
        grid-template-columns: repeat(10, var(--square-heigth-middle));    
        border: var(--board-boarder-size-mobile) solid rgb(168, 156, 26);  
    }
}

@media (max-width: 900px) {
    #game-board-container {                
        display: grid;     
        grid-template-rows: repeat(10, var(--square-width-mobile));
        grid-template-columns: repeat(10, var(--square-heigth-mobile));    
        border: var(--board-boarder-size-mobile) solid rgb(168, 156, 26);  
    }
}
