.motion-button {        
    border: 1px solid ;
    border-color: var(--color-button-boarder);
    color: var(--color-button-text);
    padding: 2.0rem;    
    font-size: var(--size-button-text);    
    border-radius: var(--size-button-boarder-radius);  
    background-color: transparent;    
}