.Input {
    flex: 1;
    border: 2px solid white;
    color: black;
    padding: 30px;
    text-align: center;       
    font-size: xx-large;    
    border-radius: 8px;
    background-color:white;
    margin-bottom: 10px;
    /* max-width: 400px;     */
}