header {    
   width: 100vw;
   align-content: center;
   text-align: center;   
   background-color: var(--color-backgroud-secondary);    
}

header h1 {
    padding-top: 1.5rem;
    font-size: 3.0rem;
}