.square {
    float: left;
    width: 80px;
    height: 80px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;   
}

.darkyellow {    
    background-color: rgb(143, 113, 14);        
}

.brown {    
    background-color: rgb(78, 59, 20);    
}

.red {
    background-color: rgb(216, 84, 84);
    border: 5px solid rgb(177, 33, 33);
    border-radius: 80%;
    padding: 25px;
    margin: 10px;
}

.yellow {
    background-color: rgb(240, 217, 114);
    border: 5px solid rgb(201, 192, 153);    
    border-radius: 80%;
    padding: 25px;
    margin: 10px;
}



.move {    
    background-color: rgb(16, 110, 16);
    /* opacity: 70%; */
    background: linear-gradient(rgb(17, 110, 17, .5), rgb(16, 110, 16, .5))    
}

/* .move {
    background-color: rgb(16, 110, 16);    
} */

.checker {
    border: 5px dotted black;    
    border-style: dashed;
}