#square-container {
    display: flex;    
    align-items: center;    
    justify-content: center;    
}

.darkyellow {    
    background-color: var(--color-background-square-hell);
}

.brown {    
    background-color: var(--color-background-square-dark);
}

#square-piece {    
    border-radius: 50%;
    /* width: var(--piece-size-default);
    height: var(--piece-size-default); */
    width: 70%;
    height: 70%;
    border-width: var(--piece-boarder-size-default);
    border-style: solid;
}

.red {
    background-color: var(--color-background-piece-dark);
    border-color: var(--color-border-piece-dark);
}

.yellow {
    background-color: var(--color-background-piece-hell);
    border-color: var(--color-border-piece-hell);    
}

.move {     
    background-color: var(--color-background-piece-action);
}

.checker {
    border: 5px dotted black;    
    border-style: dashed;
}

@media (max-width: 900px) {    
    #square-piece {    
        /* width: var(--piece-size-mobile);
        height: var(--piece-size-mobile);     */
        border-width: var(--piece-boarder-size-mobile);        
    }
}
