#player-container {        
    display: flex;    
    flex-direction: row;
    justify-content: space-between;    
}

.name {
    padding-left: 1.5rem;
}

.captures {
    padding-right: 1.0rem;
    font-size: 1.5rem;
    align-self: center;
}

@media (max-width: 900px) {
    .captures, .name {  
        padding: 0rem;      
        font-size: 1.1rem;        
    } 

}