:root {
  --color-background: #303036; 
  --color-backgroud-secondary: #4E5283; 
  
  --color-button-text: #e0eeee;
  --color-button-boarder: #EFFFFF;

  --color-background-button-primary: #4cb924;
  --color-background-button-primary-hover: #3d991c;

  --color-background-button-secondary: #F22;
  --color-background-button-secondary-hover: rgb(214, 29, 29);

  --color-background-square-hell: rgb(143, 113, 14);        
  --color-background-square-dark: rgb(78, 59, 20);

  --color-background-piece-dark: rgb(218, 67, 67);
  --color-border-piece-dark: rgb(177, 33, 33);

  --color-background-piece-hell: rgb(240, 217, 114);
  --color-border-piece-hell: rgb(192, 181, 133);  

  --color-background-piece-action: rgba(65, 151, 65, 0.5); 

  --size-button-text: 2.0rem;
  --size-button-boarder-radius: 8px;  


  --square-width-mobile: 45px;
  --square-heigth-mobile: 45px;
  --square-width-default: 80px;
  --square-heigth-default: 80px;  

  
  --piece-size-mobile: 25px;
  --piece-size-default: 50px;
  --piece-boarder-size-mobile: 3px;
  --piece-boarder-size-default: 5px;


  --board-boarder-size-mobile: 10px;
  --board-boarder-size-default: 20px;  
  --board-width-mobile: 620px;
  --board-heigth-mobile: 620px;
  --board-width-default: 800px;
  --board-heigth-default: 800px;
}

body {
  border: 0px;
  margin: 0px;
  
  color: rgb(253, 244, 244);
  font-family: sans-serif;
  
  background-color: var(--color-background); 
}

#app-container {  
  display: grid;  
  grid-template-rows:     
    1fr
    8fr
    0.5fr;
  grid-template-areas: 
    "header"
    "gameArea"
    "footer";
  
  height: 100vh;  
  /* width: 100vw;   */
}

header  {
  grid-area: header;
}

#app-main-area {
  grid-area: gameArea;

  display: flex;
  align-items: center;
  justify-content: center;  
}

footer {
  grid-area: footer;
}
/* 
.container-cl {
  max-width: 400px;
  display: flex;
  flex-direction: column; 
} */